<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Мои книги')}"></head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>
<div class="container">

    <h2 class="mb-4 text-center custom-title">Мои публикации</h2>

    <div class="d-flex justify-content-center mb-4">
        <a href="/add-book" class="btn btn-success btn-rounded-lg shadow">+ Добавить книгу</a>
    </div>

    <div class="card p-3 mb-4 shadow-sm bg-light">
        <form th:action="@{/my-books}" method="get" class="row g-3">
            <div class="col-md-6">
                <input type="text" name="query" class="form-control" placeholder="Поиск..." th:value="${searchQuery}">
            </div>
            <div class="col-md-4">
                <select name="genre" class="form-select" onchange="this.form.submit()">
                    <option value="">Все жанры</option>
                    <option th:each="g : ${genres}"
                            th:value="${g.name()}"
                            th:text="${g.displayValue}"
                            th:selected="${g.name() == selectedGenre}"></option>
                </select>
            </div>
            <div class="col-md-2 d-grid">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </form>
    </div>

    <table class="table table-hover bg-white shadow-sm rounded">
        <thead class="table-light">
        <tr>
            <th>Обложка</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><img th:src="${book.imageDisplay}" width="50" height="70" style="object-fit: cover;"></td>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.genre}">Genre</td>
            <td>
                <span class="badge"
                      th:text="${book.status.displayValue}"
                      th:classappend="${book.status.name() == 'FREE'} ? 'bg-success' : 'bg-danger'">
                </span>
            </td>
            <td>
                <form th:action="@{/book/{id}/status(id=${book.id})}" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        <span th:text="${book.status.name() == 'FREE' ? 'Пометить как занятую' : 'Освободить'}"></span>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>